@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-area-extended-bold: var(--font-area-extended-bold);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-trash-dark-green: #ABC339;
  --font-sans: "Herokid Bold Narrow", sans-serif;
  --font-area: "Area Extended", sans-serif;
}

:root {
  --background: #EDFCDE;
  --foreground: #171615;
  --card: #FEFEFE;
  --card-foreground: #171615;
  --popover: #FEFEFE;
  --popover-foreground: #171615;
  --primary: #C3E75F;
  --primary-foreground: #171615;
  --secondary: #3D3D3D;
  --secondary-foreground: #FEFEFE;
  --muted: #EDFCDE;
  --muted-foreground: #3D3D3D;
  --accent: #C3E75F;
  --accent-foreground: #171615;
  --destructive: oklch(0.58 0.22 27);
  --border: #3D3D3D;
  --input: #3D3D3D;
  --ring: #C3E75F;
  --chart-1: oklch(0.87 0.12 207);
  --chart-2: oklch(0.80 0.13 212);
  --chart-3: oklch(0.71 0.13 215);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --radius: 0.625rem;
  --sidebar: #FEFEFE;
  --sidebar-foreground: #171615;
  --sidebar-primary: #C3E75F;
  --sidebar-primary-foreground: #171615;
  --sidebar-accent: #EDFCDE;
  --sidebar-accent-foreground: #171615;
  --sidebar-border: #3D3D3D;
  --sidebar-ring: #C3E75F;
}

.dark {
  --background: #171615;
  --foreground: #EDFCDE;
  --card: #3D3D3D;
  --card-foreground: #EDFCDE;
  --popover: #3D3D3D;
  --popover-foreground: #EDFCDE;
  --primary: #C3E75F;
  --primary-foreground: #171615;
  --secondary: #FEFEFE;
  --secondary-foreground: #171615;
  --muted: #3D3D3D;
  --muted-foreground: #EDFCDE;
  --accent: #C3E75F;
  --accent-foreground: #171615;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #EDFCDE;
  --input: #EDFCDE;
  --ring: #C3E75F;
  --chart-1: oklch(0.87 0.12 207);
  --chart-2: oklch(0.80 0.13 212);
  --chart-3: oklch(0.71 0.13 215);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --sidebar: #171615;
  --sidebar-foreground: #EDFCDE;
  --sidebar-primary: #C3E75F;
  --sidebar-primary-foreground: #171615;
  --sidebar-accent: #3D3D3D;
  --sidebar-accent-foreground: #EDFCDE;
  --sidebar-border: #EDFCDE;
  --sidebar-ring: #C3E75F;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}